# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
# התעלמות מהסביבה הוירטואלית של פייתון
.venv/
venv/
ENV/

# התעלמות מקבצי קאש זמניים של פייתוןר
__pycache__/
*.pyc
*.pyo
*.pyd

# התעלמות מקבצי מערכת הפעלה זמניים
.DS_Store
Thumbs.db
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
node_modules/

